:root{
    --primary: #64b3f4;
    --light: #ffffff;
    --dark: #000000;
    --gradient1: #11998e;
    --gradient2: #64b3f4;
}

*{
    font-family: 'Quicksand', sans-serif;
}

nav{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

li{
    padding-top: 1rem;
    width: 100%;
}

.title{
    padding: 0 0 1.5rem 0 ;
}


.text-gradient{
    font-size: 2.5rem;
    font-weight: 700;   

    background: -webkit-linear-gradient(45deg, var(--gradient1), var(--gradient2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: font-size 200ms ease;

    &:hover {
        font-size: 3rem;
    }

    &:focus {
        outline: none;
        font-size: 3rem;
    }
}



@media screen and (max-width: 10px){


}